:root {
	/* ------- colors ------- */
	--primary-color: #fff;
	--secondary-color: #f4f4f5;
	--tertiary-color: #e7e7e9;
	--quaternary-color: green;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
